

<div class="container">
    <%= link_to  "Add Post", new_user_post_path(current_user.id) %>
    <div class="row">
        <div class="col-3 align-self-center">
            <%= current_user.firstname%>
            <%= current_user.username%>
        </div>
        <div class="col-9">
            <div class="container">
                <div class="row">
                    <% @posts.each do |post| %>
                        <div class="card col-4" style="width: 18rem;">
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-body">
                                <div><%= post.picture %></div>
                                <div><%= post.text %></div>
                                <div><%= link_to  post.id, user_post_path(current_user.id, post.id) %></div>
                            </div>
                        </div>
                    <%end%>
                 </div>                
            </div>
        </div>
    </div>
</div>